<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=UTF8" http-equiv="content-type">
  <title style="">The Results of the Classification</title>

  
</head><body>
<br>

<table style="text-align: left; width: 85%; height: 100%; margin-left: auto; margin-right: auto;" border="1" cellpadding="2" cellspacing="2">

  <tbody>
    <tr>
      <td style="vertical-align: top; width: 80%; text-align: center; background-color: rgb(102, 102, 204); color: white;"><big style="font-weight: bold; Callibri;">The level of the degree of difficulty: (according to Taiwanese textbooks)</big><br>
      </td>
      <td style="vertical-align: top; width: 88px; background-color: rgb(229, 252, 255); text-align: center;"><big><span style="font-weight: bold; Callibri;">{{ans}}</span></big><br>
      </td>
    </tr>
  </tbody>
</table>

<br>

<br>

<div style="text-align: center; Callibri;"><br>
<h1 style=' Callibri;'><span>Some of the Features:</span></h1><br>
<br>
<p style=' Callibri;'><big>
Average Sentence Length：{{lenth}}</big></p>
<p style=' Callibri;'><big>Word Feature - ERWL:{{vex_list}}</big></p>
<p style=' Callibri;'><big>Sentence Pattern Feature - Number of Sentences of Each Level:{{sent_list}}</big></p>
</big></p>
<br>
<br>
</div>

<br>

<br>

</body></html>